<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>Dashboard | Admin</title>
</head>
<body>
    <div class="dashboard-wrapper">
      <main class="con">
        <aside>
          <div class="tri-up">
            <a href="" class="active">Pending Tribute</a>
          <a href="">Aproved Tribute</a>
          </div>
          <div class="log-out">
            <a href="/">Logout</a>
          </div>
        </aside>
        <section>
          <!-- Tribute Items Start -->
          <div class="tribute-box">
            <h2>Good Man</h2>
            <p>
              the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
            <span>Obinna Nwachukwu</span></p>
            <div class="btns">
              <button type="submit" class="btn delete">Delete</button>
              <button type="submit" class="btn">Approve</button>
            </div>
          </div>
          <div class="tribute-box">
            <h2>Good Man</h2>
            <p>
              the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
            <span>Obinna Nwachukwu</span></p>
            <div class="btns">
              <button type="submit" class="btn delete">Delete</button>
              <button type="submit" class="btn">Approve</button>
            </div>
          </div>

          <div class="tribute-box">
            <h2>Good Man</h2>
            <p>
              the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
            <span>Obinna Nwachukwu</span></p>
            <div class="btns">
              <button type="submit" class="btn delete">Delete</button>
              <button type="submit" class="btn">Approve</button>
            </div>
          </div>
          <div class="tribute-box">
            <h2>Good Man</h2>
            <p>
              the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
            <span>Obinna Nwachukwu</span></p>
            <div class="btns">
              <button type="submit" class="btn delete">Delete</button>
              <button type="submit" class="btn">Approve</button>
            </div>
          </div>
          <div class="tribute-box">
            <h2>Good Man</h2>
            <p>
              the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
            <span>Obinna Nwachukwu</span></p>
            <div class="btns">
              <button type="submit" class="btn delete">Delete</button>
              <button type="submit" class="btn">Approve</button>
            </div>
          </div>
          <!-- Tribute Items End -->
        </section>
      </main>
    </div>
</body>
</html>